<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Main Css -->

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">


    <title>CM-CA</title>
</head>
<body>
     <div class="container-fluid text-center">

         <img src="{% static 'images/construcion.png'%}" class="img-fluid" alt="construction" height="1024" width="980">
     </div>



</body>
</html>